

/*
Fonts
*/


@font-face {
    font-family: 'oxygen';
    src: url('font/Oxygen-webfont.eot');
    src: url('font/Oxygen-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Oxygen-webfont.woff') format('woff'),
         url('font/Oxygen-webfont.ttf') format('truetype'),
         url('font/Oxygen-webfont.svg#OxygenRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oxygenItalic';
    src: url('font/Oxygen-Italic-webfont.eot');
    src: url('font/Oxygen-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Oxygen-Italic-webfont.woff') format('woff'),
         url('font/Oxygen-Italic-webfont.ttf') format('truetype'),
         url('font/Oxygen-Italic-webfont.svg#OxygenItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oxygenBold';
    src: url('font/Oxygen-Bold-webfont.eot');
    src: url('font/Oxygen-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Oxygen-Bold-webfont.woff') format('woff'),
         url('font/Oxygen-Bold-webfont.ttf') format('truetype'),
         url('font/Oxygen-Bold-webfont.svg#OxygenBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oxygenBoldItalic';
    src: url('font/Oxygen-BoldItalic-webfont.eot');
    src: url('font/Oxygen-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Oxygen-BoldItalic-webfont.woff') format('woff'),
         url('font/Oxygen-BoldItalic-webfont.ttf') format('truetype'),
         url('font/Oxygen-BoldItalic-webfont.svg#OxygenBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
Fonts
*/


*
{
	margin: 0;
	padding: 0;
	font-family: oxygen;
}

h1, h2
{
    color: white;
}


body
{
	background: url(img/bg1.png) repeat-x;
}


.wrapper
{
	width: 1024px;
	box-shadow:  0px 10px 15px -2px #000;
	margin: 0px auto;
}

.header
{
	background: url(img/bnr1.png) no-repeat;
	width: 1024px;
	height:320px;
	margin: 0px 0;
	padding: 16px;
}

.menu1
{
	float: right;
	padding-right: 16px; 

}

.menu1 A:link {text-decoration: none; font-family: oxygenBold; color: #fff;}
.menu1 A:visited {text-decoration: none; color: #fff;}
.menu1 A:active {text-decoration: none; color: #fff; }
.menu1 A:hover {text-decoration: none; color: #fff; font-weight: bold;}

.shadow1
{ 
    text-shadow: rgba(0,0,0,.75) 0.1em 0.1em 0.2em;
}

.menuList
{
	margin: 1.8em 0px 0px 0em;
	float: left;
	width: auto;
	font-size:1.3em;
	
	list-style-type: none;
    display: block;

}

.menuList li
{
	display: block;
	float: left;
	padding: 0px 0px 0px 20px;
}


.head1
{
    height: 320px;
}


.carousel1
{
	width: 600px;
    height: 350px;
    margin:45px auto;
    box-shadow:  0px 10px 15px -2px #000;
}

.foot1
{
    width: 270px;
    color:#3a87b9;
    margin: 0 auto;
    font-weight: bold;
    letter-spacing: .39em;
    font-size: 14px;
}

.foot2
{
    width: 600px;
    color:#333;
    margin: 0 auto;
    text-align: justify;
    text-indent: 5px;
    font-size: 16px;
}